<div class="page-container">
  <div >
     <img src="/logo.png" alt="FoodTech Logo">
  </div>
  <h1 class="map-name">Mapa de Restaurantes</h1>
  <app-mapa (restauranteSelected)="onRestauranteSelected($event)"></app-mapa>
  <app-menu-modal
    [restaurante]="selectedRestaurante()"
    [visible]="menuVisible()"
    (close)="onCloseMenu()"
    (pedidoRealizado)="onPedidoRealizado()">
  </app-menu-modal>
  <app-order-form-modal
    [visible]="orderFormVisible()"
    (close)="onCloseOrderForm()"
    (pedidoConfirmado)="onPedidoConfirmado()">
  </app-order-form-modal>
  <app-active-orders-panel />
</div>
