<div class="mapa-scroll-wrapper">
  <app-restaurant-guide class="message" message="Para seleccionar un restaurante, haz clic en nuestras opciones, elige el menú y realiza tu pedido."></app-restaurant-guide>
  <div class="mapa-container">
    <canvas 
      #canvas
      width="800" 
      height="800"
      (click)="onCanvasClick($event)"
      (mousemove)="onCanvasMouseMove($event)">
    </canvas>
    
    @if (hoveredElement()) {
      <div class="tooltip">
        Click para ver el menú
      </div>
    }
  </div>
</div>
